<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Products</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div id="navbar"></div>

    <main class="products-page">
      <h1 class="page-title">Admin Products</h1>

      <div id="adminProductsContainer" class="products-grid"></div>
    </main>

    <script src="/js/api.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/admin.js"></script>
  </body>
</html>
