<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div id="navbar"></div>

    <main class="cart-page">
      <h1 class="page-title">Your Cart</h1>

      <div id="cartContainer"></div>

      <div class="cart-footer">
        <button id="orderBtn">Order Now</button>
      </div>
    </main>

    <script src="/js/api.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
